<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <section class="Nav">
            <div class="divNav">
                <div class="logoNav">
                    <img class="logoNav" src="https://e7.pngegg.com/pngimages/591/502/png-clipart-logo-generic-drug-bank-bank-globe-service.png" >
                </div>
                <div class="divNavBotones">
                    <button class="primerBoton botonesNav" mat-button>Above</button>
                    <button class="botonesNav" mat-button>Above</button>
                    <button class="botonesNav" mat-button>Above</button>
                    <button class="botonesNav" mat-button>Above</button>
                    <button class="botonesNav" mat-button><span class="material-symbols-outlined">menu</span></button>
                </div>         
            </div>
        </section>
    </header>
    <main>
sadasd
    </main>
    <footer>
        dasda
    </footer>
</body>
</html>